$TTL 86400
@    IN    SOA   ns1.airnic.net. info.airnic.net. {{ serial }} 86400 7200 3600000 86400
@    IN    NS    ns1.airnic.net.
@    IN    NS    ns2.airnic.net.

{% for zone in zones %}
{% for ns in zone["nameservers"] %}{{ zone["zone"] }}.    IN    NS    {{ ns }}.
{% endfor %}
{% endfor %}
